{% extends "layouts/layout.html" %}
{% block pageTitle %}Check your data{% endblock %}
{% block content %}
  <main id="content" role="main">
    {%  if results %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-m">Results</h1>
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                URL
              </dt>
              {{ url }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Dataset
              </dt>
              {{ dataset }}
              </dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <pre class="govuk-!-margin-0"><code class="language-json"
                                                    style="overflow: scroll;">{{ results | dump_json }}</code></pre>
        </div>
      </div>
      <div class="govuk-grid-row">
        <a href="{{ url_for('check.check_data') }}" class="govuk-back-link">Back</a>
      </div>
    {% else %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-m">Check your data</h1>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="POST" action="{{ url_for('check.check_data') }}">
            <div class="govuk-form-group">
              {{ form.datasets.label(class="govuk-label") }}
              {{ form.datasets(class="govuk-select") }}
            </div>
            <div class="govuk-form-group">
              {{ form.url.label(class="govuk-label") }}
              {{ form.url(class="govuk-input") }}
            </div>
            <div class="govuk-button-group">
              <input class="govuk-button" type="submit" value="Check">
            </div>
            {{ form.csrf_token }}
          </form>
        </div>
      </div>
    {% endif %}
  </main>
{% endblock %}
