digital_land_frontend @ git+https://github.com/digital-land/digital-land-frontend.git#egg=digital_land_frontend
Flask
gunicorn
python-dotenv
sentry-sdk[flask]
Flask-SQLAlchemy
Flask-Migrate
psycopg2-binary
requests
jsonpickle
Flask-WTF
digital_land_python @ git+https://github.com/digital-land/pipeline.git#egg=digital-land
